.item{
 position: relative;
}
.item:hover{
 background-color: #ccc;
}
.item:hover .del_btn{
 display: inline-block;
}
.del_btn{
 background-color: rgb(209, 28, 28);
 color:#fff;
 border: none;
 padding:3px 10px;
 border-radius: 2px;
 position: absolute;
 right: 10px;
 display: none;
 cursor: pointer;
}